nav
  if user
    //- user is admin
    if user.role === 'Admin'
      input(type="checkbox" id="check")
      label(for="check" class="checkbtn")
        i(class="fas fa-bars")
        img(src="/Icons/Hamburger.png" alt="")
      label.logo
        img(src="/Logo_1.png" alt="")#Logo_img
      ul
        li
          a(href="/") Home
        li
          a(href="/api/wanted/getallwanted") Criminals
        li
          a(href="/api/news/getallnews") News
        li
          a(href="/api/career/getalljobs") Carrers
        li
          a(href="/api/tip/submit-tip") Submit Tip
        li#Profile_log
            a#Profile(href="/api/users/me")
              img(src=`/images/users/${user.photo}` alt="")
    //- user is not admin
    else 
      nav
        input(type="checkbox" id="check")
        label(for="check" class="checkbtn")
          i(class="fas fa-bars")
          img(src="/Icons/Hamburger.png" alt="")
        label.logo
          img(src="/Logo_1.png" alt="")#Logo_img
        ul
          li
            a(href="/") Home
          li
            a(href="/api/wanted/getallwanted") Criminals
          li
            a(href="/api/news/getallnews") News
          li
            a(href="/api/career/getalljobs") Carrers
          li
            a(href="/api/tip/submit-tip") Submit Tip
          li#Profile_log
            a#Profile(href="/api/users/me")
              img(src=`/images/users/${user.photo}` alt="")

          //- li#Profile_log
          //-   a(href="/api/users/me")= user.name
          //-     img(src=`images/users/${user.photo}` alt="")
          
  //- user has nog logged-in yet
  else 
    nav
      input(type="checkbox" id="check")
      label(for="check" class="checkbtn")
        i(class="fas fa-bars")
        img(src="/Icons/Hamburger.png" alt="")
      label.logo
        img(src="/Logo_1.png" alt="")#Logo_img
      ul
        li
          a(href="/").menu Home
        li
          a(href="/api/wanted/getallwanted").menu Criminals
        li
          a(href="/loginerror").menu News
        li
          a(href="/loginerror").menu Carrers
        li
          a(href="/loginerror").tip Submit Tip
        li#sign_Up
          a(href="/signup") Sign Up
        li#sign_In
          a(href="/login") Sign In
    