doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="/CSS/navbar.css")
    link(rel="stylesheet" href="/CSS/template.css")
  body
    include navbar
    .container
      h1 Wasted
      h3 Please sign up to access the Information
      a(href="/login") Sign In
