@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-image: url(/Img/car_6.webp); */
    background-position: center;
    background-size: cover;
    background-color: black;
}

.container {
    max-width: 100vw;
    box-sizing: border-box; 
}

.slider-wrapper{
    /* overflow: hidden; */
    /* max-width: 1380px; */
    margin: 0 70px 55px;
    /* margin-bottom: 0px; */
    /* background-color: aqua; */
}

.card-list .card-item{
    color: #fff;
    /* user-select: none; */
    margin-top: 30px;
    /* padding: 35px; */
    z-index: 0;
    border-radius: 8px;
    /* background: rgba(255,255,255, 0.2); */
    /* border:1px solid rgba(255,255,255, 0.5); */
    display: flex;
    height: 210px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* backdrop-filter: blur(30px); */
    position: relative;
}

.card-list .card-item .user-image{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;
}

.card-list .card-item .user-profession{
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
}

.card-list .card-item .message-button{
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.card-list .card-item .message-button:hover{
    background: rgba(255,255,255,0.1);
    color: #fff;
    border: 1px solid #fff;
}

.slider-wrapper .swiper-pagination-bullet{
    background: #fff;
    height: 15px;
    width: 15px;
}

 .slider-wrapper .swiper-slider-button{
    color: #ffffff;
    margin-top: -22px;
    transition: 0.2s ease;

 }


 .slider-wrapper .swiper-slider-button:hover, .swiper-button-next:hover {
    color: #868686;
 }

 .swiper-button-next{
    color: white;

 }
 


 /* ======MEDIA QUERIES======== */

 @media (max-widht:768px){
    .slider-wrapper{
        margin: 0 10px 40px;
    }

    .slider-wrapper .swiper-slider-button{
        display: none;
    }
 }

 /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
} */

.card{
    /* margin-top: 180px; */
    position: relative;
    width: 100%;
    height: 230px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: 0.7s ease;
    /* background-color: bisque; */
}

.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.card .circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: red; */
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.card:hover .circle::before{
    background-color: #13131c;
    clip-path: circle(400px at center);
}

.number{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: absolute;
    left: -2%;
    z-index: 0;
    /* background: #c46060; */
    color: rgb(0, 0, 0);
    font-size: 230px;
    height: 100%;
    text-shadow:
                -1px -1px 0 #808080,  
                 1px -1px 0 #808080,
                -1px  1px 0 #808080,
                 1px  1px 0 #808080;
}

.card img{
    position: absolute;
    top: 50%;
    left: 65%;
    z-index: 10;
    transform: translate(-50%,-50%);
    height: 210px;
    width: 70%;
    object-fit: cover;
    pointer-events: none;
    transition: 0.5s;
    border-radius: 14px;
}

.card:hover img{
    z-index: 15;
    left: 80%;
    width: 70%;
    height: 240px;
    /* border: 4px solid rgb(184, 184, 184); */
    /* box-shadow: 2px 2px 5px 5px rgba(255, 255, 255, 0.464); */
}

.card:hover{
    scale: 1.1;
    z-index: 100;
}

.card .content{
    position: relative;
    width: 50%;
    height: 110%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    left: 20%;
    padding: 20px 20px 20px 5px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content{
    left: 2%;
    opacity: 1;
    visibility: visible;

}

.card .content h3{
    color: white;
    /* text-transform: uppercase; */
    font-size: 1.2em;
    line-height: 1em;
}

.card .content p{
    color: white;
}

.card .content a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    font-size: 80%;
    padding: 5px 5px;
    border-radius: 4px;
    background: white;
    color: black;
    margin-top: 20px;
    /* display: inline-block; */
    text-decoration: none;
    font-weight: 700;
}

/* @media (max-width: 1290px){
    .card{      
        width: 280px;
        height: 200px;
    }
    .card .content{
        font-size: 90%;
        left: 0;
    }
    .card img{   
        width: 180px;
        height: 200px;
    }
    .card:hover img{
        left: 83%;
        width: 200px;
        height: 220px;
        border: 6px solid rgb(255, 255, 255);
        box-shadow: 2px 2px 10px 10px rgba(255, 255, 255, 0.359);
    }

}

@media (max-width: 890px){
    .card{      
        width: 250px;
        height: 170px;
    }
    .card .content{
        font-size: 90%;
        left: 0;
    }
    .card img{   
        width: 150px;
        height: 170px;
    }
    .card:hover img{
        left: 89%;
        width: 180px;
        height: 200px;
        border: 6px solid rgb(255, 255, 255);
        box-shadow: 2px 2px 10px 10px rgba(255, 255, 255, 0.359);
    }

} */


h1{
    width: 90%;
    margin: 0 5%;
    color: white;
}