body {
  background: #000;
  margin: 0;
  padding: 0;
  height: 90vh;
  width: 100vw;
  /* background-image: url('https://e0.pxfuel.com/wallpapers/946/50/desktop-wallpaper-gta-v-lspdfr-cop-mod-gta-5-police.jpg'); */
  background-color: #000;
  background-size: cover; /* Ensures the background image covers the whole page */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: police-fonts;
  src: url(/Fonts/Furore.otf);
}

.back {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 85%;
  height: 50px;
  margin-top: 1%;
  margin-bottom: 4%;
}

.back button {
  /* width: 80px; */
  border: 3px solid rgb(222, 222, 222);
  background: rgb(0, 0, 0);
  border-radius: 4px;
  padding: 0.6% 1.5%;
  font-size: 100%;
  letter-spacing: 0.5px;
  color: rgb(222, 222, 222);
  cursor: pointer;
  /* font-weight: bold; */
  font-family: police-fonts;
}

.container {
  width: min(640px, 80%);
  height: 380px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  box-shadow: -1px 1px 20px 10px rgb(243, 189, 124);
  padding: 5px 14px;
}

h2 {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

.news {
  display: flex;
  width: 100%;
  height: 76%;
  padding: 2% 0%;
}

.box1 {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1 img {
  /* margin-top: 2%; */
  width: 75%;
  height: 200px;
  object-fit: cover;
  border-radius: 7px;
}

#imagePreview {
  border: 5px solid rgb(190, 188, 188);
  margin-bottom: 8%;
  background: #ffffff;
}

#fileInput {
  width: 80%;
  color: white;
}

.box2 {
  width: 65%;
  height: 90%;
  padding: 0% 2%;
  /* gap: 12%; */
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 3%;
  color: rgb(0, 0, 0);
  margin-bottom: 1%;
  font-size: 110%;
}

textarea {
  /* background-color: rgb(173, 173, 173); */
  background: transparent;
  color: white;
  border-radius: 4px;
  font-family: sans-serif;
  cursor: default;
}

.input-group {
  position: relative;
  width: 100%;
  /* background-color: beige; */
  border-radius: 4px;
  /* margin-bottom: 40px; */
}

.input-group label {
  position: absolute;
  top: 7%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  /* background-color: red; */
  color: white;
  padding: 0 5px;
  pointer-events: none;
  transition: 0.4s;
}

.input-group textarea {
  height: 60px;
  font-size: 16px;
  color: rgb(254, 254, 254);
  padding: 8px 3%;
  border: 2px solid rgb(92, 92, 92);
  outline: none;
  width: 94%;
  border-radius: 4px;
}

.input-group textarea:focus ~ label,
.input-group textarea:valid ~ label {
  top: -14%;
  font-size: 13px;
  background: #000;
  border-radius: 2px;
  color: rgb(255, 255, 255);
}

textarea {
  width: 80%;
  padding: 4px;
}

#input_submit {
  display: flex;
  align-items: center;
  height: 26%;
  justify-content: center;
}

#Submit {
  padding: 1% 1.5%;
  width: auto;
  /* margin: 0% 50%; */
  font-size: 100%;
  border: 2px solid white;
  background: white;
  color: rgb(0, 0, 0);
  border-radius: 4px;
}

@media (max-width: 700px) {
  .back {
    margin-bottom: 7%;
  }
  .box1 {
    width: 35%;
  }
  .box2 {
    height: 90%;
    width: 65%;
  }
  .box1 img {
    height: 150px;
  }
}

@media (max-width: 500px) {
  .container {
    height: 760px;
  }
  .news {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    gap: 30px;
  }
  .input_submit {
    height: 28%;
    align-items: start;
  }
  .box1 {
    width: 60%;
    height: 40%;
  }
  .box2 {
    gap: 5px;
    width: 60%;
    height: 50%;
  }
  .box1 img {
    height: 100%;
  }
  .input-group textarea:focus ~ label,
  .input-group textarea:valid ~ label {
    top: -10%;
  }
  #input_submit {
    height: 60px;
  }
}
