body {
    background: #000;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('/Img/francisco\ downtown.webp');
    background-size: cover; /* Ensures the background image covers the whole page */
    background-position: center bottom; /* Centers the background image horizontally and aligns it to the bottom */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@font-face{
    font-family: police-fonts;
    src:url(/Fonts/Furore.otf)
}

@font-face{
    font-family: gta-fonts;
    src:url(/Fonts/Gta-fonts.ttf)
}

.container{
    margin-top: 20px;
    width: min(450px,90%);
    /* height: 65%; */
    /* height: max(400px,65%); */
    height: min(80%,400px);
    border-radius: 14px;
    background: #30303027;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center ;
    border: 1px solid rgba(255, 255, 255, 0.588);
    overflow-y: auto;
}

h1{
    color: white;
    text-align: center;
    margin: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
}

label{
    margin-top: 2%;
    color: rgb(0, 0, 0);
    margin-bottom: 1%;
    font-size: 110%;
}

input{
    /* background-color: rgb(219, 219, 219); */
    background: transparent;
    border-radius: 4px;
    width: 100%;
    /* background-color: blue; */
    font-family: sans-serif;
    cursor: default
}

.input-group{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    /* margin-bottom: 20px; */
    width: 75%;
}

.input-group label{
    position: absolute;
    top: 60%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    /* background-color: red; */
    color: rgb(255, 255, 255);
    padding: 0 5px;
    pointer-events: none;
    transition: 0.4s;
}

.input-group input{
    height: 180%;
    font-size: 17px;
    color: rgb(255, 255, 255);
    padding: 1px 10px;
    border: 1.2px solid rgba(255, 255, 255, 0.741);
    outline: none;
    border-radius: 4px;
}

#password{
    padding-right: 40px;
}

.input-group input:focus~label,
.input-group input:valid~label{
    top: -45%;
    font-size: 14px;
    background: #ffffff;
    border-radius: 2px;
    color: rgb(23, 23, 23);
}

#Submit{
    width: auto;
    padding: 1% 1.5%;
    border-radius: 4px;
    border: 2px solid white;
    background: transparent;
    color: white;
    margin-top: 40px;
    font-size: 105%;
}

.sign_in{
    color: white;
    font-size: 90%;
    margin-top: 20px;
    width: 75%;
    text-align: right;
    cursor: pointer;
}

#Submit{
    width: 75%;
    border-radius: 4px;
    background-color: white;
    color: black;
    cursor: pointer;
}

p{
    text-align: center;
    font-size: 90%;
    margin-top: 15px;
    width: 75%;
}

#togglePassword{
    position: absolute;
    right: 0;
    top: 30%;
    bottom: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    font-size: 16px;
}

#togglePassword {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: white; /* Make the icon white */
    font-size: 18px;
}

#togglePassword i {
    pointer-events: none;
}

.con{
    margin-top: 70px;  
    display: inline-block;
    max-width: 100%;
    text-wrap: nowrap;
}

.text{
    font-size: 4em;
    letter-spacing: 0px;
    font-family: gta-fonts;
    border-radius: 5px solid;
    color: rgb(243, 184, 57);
    text-shadow:
                -1px -1px 0 #000000,  
                 1px -1px 0 #000000,
                -5px  5px 0 #000000,
                 1px  1px 0 #000000;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 3s steps(25),
        cursor 0.4s step-end infinite alternate;
}

@keyframes cursor{
    50% {border-color: transparent;}
}

@keyframes typing {
    from  {width: 0}
}

@media (max-width: 1000px){
    .text{
        font-size: 3em;
        text-shadow:
                    -1px -1px 0 #000000,  
                     1px -1px 0 #000000,
                    -5px  5px 0 #000000,
                     1px  1px 0 #000000;
    }
}

@media (max-width: 590px){
    .text{
        font-size: 2em;
        text-shadow:
                    -1px -1px 0 #000000,  
                     1px -1px 0 #000000,
                    -3px  3px 0 #000000,
                     1px  1px 0 #000000;
    }
}




.popup{
    width: min(350px,80%);
    height: 260px;
    padding: 30px 20px;
    background: #f7f7f7;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    opacity: 0;
    top: -200%;
    left: 50%;
    box-shadow: 2px 2px 30px 10px #078907;
    transform: translate(-50%,-50%) scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 1000ms ease-in-out,
                transform 1000ms ease-in-out;
    
}

.popup.active{
    position: fixed;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.popup .icon{
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 4px solid #078907;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 60px;
}

.popup .icon i.fa {
    font-size: 30px; /* Adjust the size here */
    color: #078907;  /* Adjust the color here */
}

.popup .title{
    color: black;
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;
}

.popup .description{
    color: #222;
    font-size: 15px;
    padding: 5px;
}

.popup .dismiss-btn{
    margin-top: 15px;
    /* margin-left: -100px; */
}

.popup .dismiss-btn #dismiss-popup-btn{
    padding: 10px 20px;
    background: #111;
    color: #f5f5f5;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.popup .dismiss-btn #dismiss-popup-btn:hover{
    color: #111;
    background: transparent;
}


.popup > div{
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup.active > div{
    top: 0px;
    opacity: 1;
}

.popup.active .icon{
    transition: all 300ms ease-in-out 250ms;
}

.popup.active .title{
    transition: all 300ms ease-in-out 300ms;
}

.popup.active .description{
    transition: all 300ms ease-in-out 350ms;
}

.popup.active .dismiss-btn{
    transition: all 300ms ease-in-out 400ms;
} 

.blur {
    background-color: #00000083;
    filter: blur(15px);
    transition: filter 300ms ease-in-out;
}

.no-scroll {
    overflow: hidden; 
}
