@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-image: url(/Img/car_6.webp); */
    background-position: center;
    background-size: cover;
    background-color: black;
}

.container {
    max-width: 100vw;
    box-sizing: border-box; 
}

.slider-wrapper_3{
    overflow: hidden;
    /* max-width: 1400px; */
    margin: 0 70px 55px;
}

.card-list_3 .card-item_3{
    color: #fff;
   user-select: none;
   margin-top: 70px;
    /* padding: 35px; */
    border-radius: 8px;
    background: rgba(255,255,255, 0.2);
    border:1px solid rgba(255,255,255, 0.5);
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(30px);
}

.card-list_3 .card-item_3 .user-image{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;
}

.card-list_3 .card-item_3 .user-profession{
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
}

.card-list_3 .card-item_3 .message-button{
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.card-list_3 .card-item_3 .message-button:hover{
    background: rgba(255,255,255,0.1);
    color: #fff;
    border: 1px solid #fff;
}

.slider-wrapper_3 .swiper-pagination-bullet{
    background: #fff;
    height: 15px;
    width: 15px;
}

 .slider-wrapper_3 .swiper-slider-button{
    color: #ffffff;
    margin-top: -22px;
    transition: 0.2s ease;

 }


 .slider-wrapper .swiper-slider-button:hover, .swiper-button-next:hover {
    color: #868686;
 }

 .swiper-button-next{
    color: white;

 }
 


 /* ======MEDIA QUERIES======== */

 @media (max-widht:768px){
    .slider-wrapper{
        margin: 0 10px 40px;
    }

    .slider-wrapper .swiper-slider-button{
        display: none;
    }
 }



.card_3{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    overflow: hidden;
    background-color: azure;
}

.card_3 .content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 10px;
    padding-top: 5px;
    gap: 7%;
    z-index: 2;
    position: absolute;
    top: 180px;
    width: 100%;
    text-align: left;
    color: white;
    background-color: #0808088b;
    transition: 0.5s ease;
    height: 170px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
}

.card_3 .content h4{
    color: rgb(157, 157, 157);
    margin-bottom: 10px;
}

.card_3 .content p{
    color: rgb(116, 116, 116);
    font-size: 80%;
    max-height: 80px;
    overflow: hidden;
}

.card_3 .content a{
    text-align: center;
    font-size: 12px;
    text-wrap: nowrap;
    text-decoration: none;
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 4px;
    padding: 2.7% 0%;
    width: 80px;
}

.card_3 img{
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease;
}

.card_3:hover img{
    transform: scale(1.3);
}

.card_3:hover .content{
    gap: 5px;
}

.card_3:hover .content{
    top: 110px;
}